@font-face {
    font-family: "warma11";
    src: url('../assets/font/FredokaOne-Regular.ttf') format('truetype');
    /* src: url('../assets/font/PermanentMarker-Regular.ttf') format('truetype'); */
}

::-webkit-scrollbar{
    width: 12px;
  }

  ::-webkit-scrollbar-thumb{
    background:rgb(117, 112, 112);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

  ::-webkit-scrollbar-thumb:hover{
    background:rgb(64,224, 208);
  }
body {
    background:rgba(126, 125, 125, 0.76);
    font-family:  "warma11", arial;
}

.header{
    background-color: aqua;
    padding: 10px;
    text-align: center;
}
.header h1{    
    font-family: "warma11", arial;
    color: rgba(22, 21, 21, 0.76);
    text-shadow: 0.5px 0.5px 0.5px black;
}

.ff{
    margin: 1%;
}

.ff li label{
    font-family: "warma11", arial;
    color: rgba(22, 21, 21, 0.76);
    text-shadow: 0.5px 0.5px 0.5px black;
}

.kmb {
    background-color:aqua;
    color: rgba(22, 21, 21, 0.76);
    font-family: "warma11", arial;
    text-shadow: 0.5px 0.5px 0.5px black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.tmb {
    background-color:aqua;
    color: rgba(22, 21, 21, 0.76);
    font-family: "warma11", arial;
    text-shadow: 0.5px 0.5px 0.5px black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.kmb :hover{
    background-color: White;
    box-shadow: -2px  2px 20px turquoise;
    font-family: "warma11", arial;
    transition: .5s;
        -webkit-transition: .5s; 
}
.tmb :hover{
    background-color: White;
    box-shadow: -2px  2px 20px turquoise;
    font-family: "warma11", arial;
    transition: .5s;
        -webkit-transition: .5s; 
}